/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

input,textarea {
	display: block;
}

form {
	display:inline-block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	background: #ecf0f1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */

h1 {
	font-size: 3em;
	margin-top: .8em;
	margin-bottom: .2em;
	font-weight: 300;
}

h2 {
	font-size: 2.2em;
	margin-top: 1.5em;
	margin-bottom: .6em;
	font-weight: 300;
}

@media (max-width: 40rem) {
    html {
      font-size: 100%;
    }
  }

  @media (max-width: 30rem) {
    html {
      font-size: 87.5%;
    }
  }

	label {
		font-size: 2em;
	}

	.inputStyle1 input[type="text"] {
	padding: 10px;
  border: none;
  border-bottom: solid 2px #0BE081;
  transition: border 0.3s;
	}

.inputStyle1 input[type="text"]:focus,
.inputStyle1 input[type="text"].focus
{
  border-bottom: solid 2px #08A05C;
}

	input[type="text"], textarea
	{
		display: block;
		margin: 0;
		width: 100%;
		font-family: sans-serif;
		font-size: 18px;
		box-shadow: none;
		background: #ecf0f1;
		border-top: none;
		border-right: none;
		border-left: none;
		margin-bottom: 1em;
	}

	input[type="text"]:focus, textarea:focus {
  outline: none;
}

.center-me {
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

	.wrapper {
		margin: 0 auto;
		width: 100%;
		display: flex;
  	align-items: center;
  	justify-content: center
	}

	#form1 {
		margin: 0 auto;
	}

#overallPlan {
	display: none;
}

#classes {
	display: none;
}

#dataDictionary
{
	display: none;
}

#plus-sign {
	display: block;
	cursor: pointer;
}

input[type="button"]
{
margin: 1em 0;
}

#settings {
	margin-top: 1em;
}

#copyMe, #copied {
	font-size: .9em;
	color: gray;
	transition: all .1s;
}

#copyMe:hover {
	color: black;
	cursor: pointer;
}
